<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.aaa.musicdemo">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <!--Bomb http://doc.bmob.cn/data/android/#sdk-->
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <!--缺少该缺陷会报错 The network is not available,please check your network!-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 与bomblib库中的android:name冲突 tools:replace="android:name" -->

        <activity android:name=".music.MusicActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--不注释会影响调试-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".qqmusic.QQMusicActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.aaa.musicdemo.BmobContentProvider"></provider>
        <!--android:authorities="你的应用包名.BmobContentProvider">-->
    </application>

</manifest>